# CVS global ignores
RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core

/out/
.idea/
!.idea/codeStyles/
*.iml

# Project ignores (converted from .cvsignore files)
.settings/
.fatjar/
target/
null/
*.jar

# added
.DS_Store
GemmaAnalysis.iml
.idea/libraries
.idea/*.xml
.idea/inspectionProfiles
.idea/.gitignore
.settings/org.eclipse.jdt.core.prefs
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/chibi/.DS_Store
src/main/java/chibi/gemmaanalysis/.DS_Store

